@import url(../css/reset.css);
@import url(../css/footer.css);

:root{
    font-family: 'Open Sans';
}

html{
    background-image: url(../img/background-list.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    

}

.titulo{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    margin: 1.5em 0;
    text-align: center;
}

.conteudo {
    padding: 5vh 3em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.principal {
    flex-grow: 1;
    flex-basis: auto;
    width: 70%;
    padding: 2em 3em;
    box-sizing: border-box;
    display: flex;
    background: #556af3;
    border-radius: 10px;


}

.adicionar {
    width: 100%;

}

.adicionar label {
    display: block;
}

.cadastrar {
    background-color: #97a1e6;
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    margin-top: 1em;
    width: 110px;

}

.cadastrar:hover {
    background-color: #a6afe9;
    color: #000000;
    cursor: pointer;
}

.tarefa, .horario   {
    border-radius: 8px;
    border-style: none;
    height: 26px;
    width: 80%;
    margin: 0.5em 0;
}

.background-list{
    background-color: #97a1e6;
    border-radius: 10px;
    padding: 2em;
    width: 60%;
    
}

.lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 16px;
}


.item strong {
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #2c43dd;
    font-weight: 400;
    padding: 0.5em;
}


.botao-deleta, .botao-check{
    background: #a6afe9;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.botao-deleta:hover{
    background-color: #fd3d3d;
    transition: 500ms;

}

.botao-check:hover{
    background-color: #008000;
    transition: 500ms;

}


#adiciona-tarefa{
    background-color: #008000;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 0.5em;
    margin-top: 0.5em;

}

#adiciona-tarefa:hover{
    background-color: #2e9e2e;
    transition: 500ms;
    border: solid 1px #57da57;
}

#edita-tarefa{
    border-style: none;
    color: #008000;
    cursor: pointer;

}


.feito{
    background-color: #008000;
}

/* CSS da aba home */

.titulo{
    color: #2e2e2e;
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-around;

}


.links__header{
    cursor: pointer;
    text-decoration: none;
    color: #ffffffc0;
    font-size: 18px;
    font-weight: 600;
    

}

.links__header:hover{
    color: #2e2e2e;
    transition: 500ms;
    text-decoration: wavy;
}

.descricao{
    color: #2e2e2e98;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    margin: 5em 1em 0 60%;  
    

}

.descricao h1{
    color: #2e2e2e98;

} 

/* Layout Responsivo */

@media screen and (max-width:730px) {

    html{
        background-image: radial-gradient(circle at center, rgba(3, 206, 196, 0.808) 0, rgb(120, 228, 247), rgba(3, 185, 218, 0.801) 100%);
    }
    
    .descricao{
        justify-content:flex-start;
        margin: 5em 2em;

    }

    .principal, .background-list{
        width: 100%;
        margin: 1em 0;
        padding: 2em;
        font-size: 14px;
    }

    #tarefa, #horario{
        width: 100%;
    }

    strong, #text{
        font-size: 14px;
    }

    


}







